.d-card {
    width: 22rem;
    border: 0px;
    box-shadow: var(--shadow-elevation-medium);
    transition: box-shadow 0.1s, transform 0.1s ease-in-out;
}

.d-card:hover {
    transform: translateY(-3px);
    box-shadow: var(--shadow-elevation-high);
}

.d-card-img {
    border-radius: 20 20 0 0 !important;
}

.d-card-header {
    font-family: GalyonBold;
    font-weight: bold;
    background: var(--gradient);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.d-card-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.d-card-desc {
    font-size: 16px;
}

.d-card-field {
    font-size: 16px;
    align-items: baseline;
}

.d-card-field.title {
    font-weight: bolder;
}

.d-card-field.value {
}
