* {
    font-family: GalyonBook;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: GalyonBold;
    src: url("../fonts/Galyon-Bold.otf");
}

@font-face {
    font-family: GalyonBook;
    src: url("../fonts/Galyon-Book.otf");
    --app-theme: brown;
}

.gradient {
    --magic-rainbow-color-1: hsl(0deg, 96%, 55%);
    --magic-rainbow-color-2: hsl(25deg, 100%, 50%);
    --magic-rainbow-color-1: hsl(40deg, 100%, 50%);
    background: linear-gradient(
        170deg,
        var(--magic-rainbow-color-1),
        var(--magic-rainbow-color-2)
    );
    /* 🤯 */
    transition: --magic-rainbow-color-1 1000ms linear,
        --magic-rainbow-color-2 1000ms linear,
        --magic-rainbow-color-3 1000ms linear;
}

:root {
    --gradient: linear-gradient(to right,#30d64a,#8bf84c);;
    --shadow-color: 0deg 0% 80%;
    --shadow-elevation-low: 0px 0.2px 0.2px hsl(var(--shadow-color) / 0.26),
        0px 0.6px 0.7px -2.5px hsl(var(--shadow-color) / 0.25);
    --shadow-elevation-medium: 0px 0.2px 0.2px hsl(var(--shadow-color) / 0.36),
        0px 3.1px 3.5px -2.5px hsl(var(--shadow-color) / 0.35);
    --shadow-elevation-high: 0px 0.2px 0.2px hsl(var(--shadow-color) / 0.44),
        0px 2.4px 2.7px -1.3px hsl(var(--shadow-color) / 0.44),
        -0.1px 10.3px 11.5px -2.5px hsl(var(--shadow-color) / 0.43);
}
