* {
    font-family: GalyonBook;
}

@font-face {
    font-family: GalyonBold;
    src: url("./assets/fonts/Galyon-Bold.otf");
}

@font-face {
    font-family: GalyonBook;
    src: url("./assets/fonts/Galyon-Book.otf");
}